.navBar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: fit-content;
  /* height: 2rem; */
  font-size: 1.1rem;
  /* display: flex;
  flex-flow: row; */
  background-color: black;
}

.navElement {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  /* color: black; */
  color: white;
  text-decoration: none;
  float: right;
}

.navElement:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navElement:visited {
  text-decoration: none;
  color: white;
  /* color: black; */
}

.footer {
  background-color: rgb(60, 0, 60);
  color: rgb(255, 224, 100);
  padding: 0.4rem;
  /* padding-bottom: 0.5rem; */
  text-align: center;
}

.footerLink {
  color: white;
  text-decoration: none;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.footerLink:hover {
  color: white;
  text-decoration: underline;
}

.footerLink:visited {
  color: white;
  text-decoration: none;
}

.logo {
  /* background-image: url("./ColorACMLogo.svg");
  background-size: 1.4rem 1.4rem;
  background-repeat: no-repeat;
  height: 1.4rem;
  width: 1.4rem; */
}

.logoImg {
  height: 3rem;
  width: 3rem;
}